.home {
    background-color: antiquewhite;
}


.home__section {
   height: 600px;
   overflow: hidden;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 40%;
}